<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A food website for the cool lifestyle">
	<meta name="application-name" content="Foodstyle">
	<meta name="keywords" content="Foodstyle, HTML, CSS, Javascript, Responsive Website">
	<meta name="author" content="yogasmara">
	<title>Foodstyle</title>
	<link rel="shortcut icon" href="./public/images/top-icon.png">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
	<script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>
<body>

	<header>
		<a href="#maincontent" class="skip-to-content" tabindex="0">Skip to main content</a>
		<div class="header-wrapper">
			<button class="hamburger-menu" tabindex="0">☰</button>
			<a class="brand-logo" href="#" tabindex="-1">FOODSTYLE</a>
			<nav id="navigation-wrapper">
				<ul class="navigation-items">
					<li class="link-item"><a href="./index.html">Home</a></li>
					<li class="link-item"><a href="#">Favorite</a></li>
					<li class="link-item"><a href="https://github.com/yoga1234" target="_blank" rel="noreferrer">About Us</a></li>
				</ul>
			</nav>
		</div>
		
	</header>
	<div class="jumbotron">
		<p tabindex="0">WELCOME TO</p>
		<h1 tabindex="0">FOODSTYLE</h1>
	</div>
	<main id="maincontent">
		<section id="main-container" class="article-container">
			<h2 class="section-header">Restaurant Registered</h2>
			
		</section>
	</main>
	<footer>Copyright &copy; 2020 - Foodstyle Apps</footer>


</body>
</html>
