<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A Restaurant food review website by Yogasmara">
	<meta name="application-name" content="Foodstyle">
	<meta name="keywords" content="Foodstyle, HTML, CSS, Javascript, Responsive Website">
	<meta name="author" content="yogasmara">
	<meta name="theme-color" content="#a8dadc">
	<link rel="manifest" href="manifest.json">
	<link rel="shortcut icon" href="./public/images/top-icon.png" type="image/x-icon">
	<link rel="apple-touch-icon" href="/src/public/images/manifest-icon/192x192.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/src/public/images/manifest-icon/152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="/src/public/images/manifest-icon/167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/src/public/images/manifest-icon/180x180.png">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
	<title>Foodstyle</title>
</head>
<body>

	<header>
		<a href="#maincontent" class="skip-to-content" tabindex="0">Skip to main content</a>
		<div class="header-wrapper">
			<button class="hamburger-menu" tabindex="0">☰</button>
			<a class="brand-logo" href="#" tabindex="-1">FOODSTYLE</a>
			<nav id="navigation-wrapper">
				<ul class="navigation-items">
					<li class="link-item"><a class="link-item-href" href="/#home">Home</a></li>
					<li class="link-item"><a class="link-item-href" href="/#favorite">Favorite</a></li>
					<li class="link-item"><a class="link-item-href" href="https://github.com/yoga1234" target="_blank" rel="noreferrer">About Us</a></li>
				</ul>
			</nav>
		</div>
		
	</header>
	<div class="jumbotron">
		<h1 tabindex="0">WELCOME TO</h1>
		<p tabindex="0">FOODSTYLE</p>
	</div>
	<main id="maincontent">
		
	</main>
	<footer>Copyright &copy; 2020 - Foodstyle Apps</footer>


</body>
</html>