<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A food website for the cool lifestyle">
	<meta name="application-name" content="Foodstyle">
	<meta name="keywords" content="Foodstyle, HTML, CSS, Javascript, Responsive Website">
	<meta name="author" content="yogasmara">
	<title>Foodstyle</title>
	<link rel="shortcut icon" href="/public/images/top-icon.png">
</head>
<body>

	<!-- <img src="./images/heros/hero-image_1.jpg" width="450" alt=""> -->

	<header>
		<button class="hamburger-menu">☰</button>
		<a class="brand-logo" href="#">FOODSTYLE</a>
		<nav>
			<ul class="navigation-items">
				<li class="link-item"><a href="#">Home</a></li>
				<li class="link-item"><a href="#">Favorite</a></li>
				<li class="link-item"><a href="#">About Us</a></li>
			</ul>
		</nav>
	</header>
	<div class="jumbotron">
		<h1>Food is a lifestyle</h1>
		<p>30 years exists to give you the taste.</p>
	</div>
	<main>
		<section class="article-container">
			<h2 class="section-header">Our Article</h2>
			<article class="card-article">
				<!-- <img class="article-image" src="./public/images/heros/hero-image_1.jpg" alt="Dummy for now"> -->
				<div class="article-image">

				</div>
				<h3 class="article-title">Title goes here</h3>
				<p class="article-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam iusto temporibus voluptatem nostrum possimus dicta sequi magni ut quasi et cumque molestiae, ex vel dolor hic atque enim accusantium exercitationem.</p>
				<div class="article-footer">
					<p class="article-footer-item">City</p>
					<p class="article-footer-item">Rating</p>
				</div>
				<!-- city -->
				<!-- rating -->
			</article>
		</section>
	</main>
	<footer>Copyright &copy; 2020 - Foodstyle Apps</footer>


</body>
</html>
