body {
    padding: 0;
    margin: 0;
}
header {
    height: max-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #2E4057;
}
.hamburger-menu {
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 32px;
    width: max-content;
    height: max-content;
    padding: 0px 10px 5px 10px;
    margin: 5px;
    font-weight: bolder;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 5px;
    background-color: #2E4057;
    transition: .4s ease all;
    cursor: pointer;
}
.hamburger-menu:hover {
    color: #66A182;
    border-color: #66A182;
}
.brand-logo {
    grid-column-start: 2;
    grid-column-end: 5;
    font-size: 35px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-decoration: none;
    color: #fff;
    margin: auto;
    padding-left: 10px;
}
nav {
    height: 0;
    width: 0;
}
.navigation-items {
    list-style: none;
}
.navigation-items li{
    text-decoration: none;
}
.link-item {
    display: none;
}
.jumbotron {
    background-image: url("../public/images/heros/hero-image_1.jpg");
    background-size: cover;
    background-position: center;
    background-color: grey;
    min-height: 350px;
    width: 100%;
    padding-top: 100px;
}
.jumbotron h1{
    margin: auto;
    padding: 15px;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    width: max-content;
    background-color: rgba(102, 161, 130, .6);
}
.jumbotron p{
    margin: 15px auto 0 auto;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 10px;
    width: max-content;
    background-color: rgba(102, 161, 130, .6);
    letter-spacing: 1px;
}
.section-header {
    margin-top: 40px;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    text-align: center;
}
.card-article {
    margin: auto;
    height: max-content;
    width: max-content;
    border: 2px solid #000;
    border-radius: 5px;
}
.article-image {
    width: 350px;
    height: 250px;
    border: 1px solid pink;
}
.article-title {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: lighter;
    font-size: 20px;
}
.article-desc {
    margin: 0 auto 25px auto;
    width: 275px;
    text-align: justify;
}
.article-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.article-footer-item {
    text-align: center;
}