* {
    box-sizing: border-box;
}
html, body, main {
    width: 100%;
    height: max-content;
}
body {
    padding: 0;
    margin: 0;
    background-color: rgba(202, 229, 255, .15);
}
header {
    height: max-content;
    width: 100%;
    background-color: rgba(111, 138, 183, .8);
}
.header-wrapper {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.hamburger-menu {
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 32px;
    width: max-content;
    height: max-content;
    padding: 0px 10px 5px 10px;
    margin: 5px;
    font-weight: bolder;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 5px;
    background-color: rgba(111, 138, 183, .1);
    transition: .3s ease all;
    cursor: pointer;
}
.hamburger-menu:hover {
    background-color: rgba(111, 138, 183, 1);
}
.brand-logo {
    grid-column-start: 2;
    grid-column-end: 5;
    font-size: 35px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-decoration: none;
    color: #fff;
    margin: auto;
    padding-left: 10px;
}
nav {
    position: absolute;
    transform: translate(-250px, 0);
    top: 70px;
    left: 5px;
    width: max-content;
    height: max-content;
    background-color: #fff;
    border-radius: 10px;
    transition: .3s ease all;
}
.open {
    transform: translate(0, 0);
}
.link-item {
    margin: 25px;
    padding: 10px 30px 10px 30px;
    border: 3px solid rgba(111, 138, 183, 1);
    border-radius: 10px;
    text-align: center;
}
.link-item a{
    text-decoration: none;
    color: rgba(111, 138, 183, 1);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}
.navigation-items li{
    text-decoration: none;
}
.jumbotron {
    background-image: url("../public/images/heros/hero-image_1.jpg");
    background-size: cover;
    background-position: top center;
    background-color: grey;
    min-height: 350px;
    width: 100%;
    padding: 200px 30px 200px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.jumbotron h1{
    margin: auto;
    padding: 15px;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 100%;
    min-width: 180px;
    max-width: 380px;
    background-color: rgba(97, 93, 108, .6);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.jumbotron p{
    margin: 15px auto 0 auto;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 100%;
    min-width: 180px;
    max-width: 330px;
    background-color: rgba(97, 93, 108, .6);
    letter-spacing: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.article-container {
    padding: 0 50px;
}
.section-header {
    margin-top: 40px;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    text-align: center;
}
.card-article {
    margin: 0 auto 25px auto;
    height: max-content;
    width: 100%;
    max-width: 350px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
}
.article-image {
    width: 100%;
    height: 250px;
    border: 1px solid pink;
}
.article-title {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: lighter;
    font-size: 22px;
}
.article-desc {
    margin: 0 auto 5px auto;
    font-size: 15px;
    font-family: Verdana, Geneva, sans-serif;
    padding: 0 20px 20px 20px;
    width: 100%;
    text-align: justify;
    line-height: 1.5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.article-footer {
    display: grid;
    height: max-content;
    grid-template-columns: repeat(2, 1fr);
}
.article-footer-item {
    background-color: #89BBFE;
    margin: 0;
    padding: 15px;
    border: 3px solid #fff;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-family: Verdana, Geneva, sans-serif;
}
footer {
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    height: max-content;
    background-color: #89BBFE;
    font-size: 14px;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    font-weight: lighter;
    color: #fff;
}