@media screen and (min-width: 800px) {
  .header-wrapper {
    display: grid;
  }
  .hamburger-menu {
    width: 0;
    height: 0;
    display: none;
  }
  .brand-logo {
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 5px 25px 5px 25px;
  }
  nav {
    position: inherit;
    grid-column-start: 10;
    background-color: inherit;
    transform: translate(0, 0);
  }
  .navigation-items {
    padding: 0;
    margin: 0;
    width: max-content;
    height: max-content;
  }
  .link-item {
    display: inline-block;
    border: none;
    margin: 0;
  }
  .link-item a{
    padding: 20px 15px 20px 15px;
    width: 100%;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    transition: .3s ease all;
  }
  .link-item a:hover, .link-item a:focus {
    background-color: rgba(256, 256, 256, .25);
    border-radius: 5px;
    outline: none;
  }
  .jumbotron p {
    font-size: 25px;
  }
  .jumbotron h1 {
    font-size: 90px;
  }
  .article-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 950px;
    margin: auto;
  }
  .section-header {
    grid-column: 1/3;
  }
  .card-article {
    display: inherit;
    grid-gap: 20px 20px;
    max-width: 400px;
    width: 95%;
  }
  .article-title {
    margin: 0 auto 0 auto;
    font-size: 23px;
  }
  .article-desc {
    margin: 0 auto 0 auto;
    font-size: 16px;
  }
  .article-footer-item {
    font-size: 14px;
  }
}

@media screen and (min-width: 1000px) {
  .header-wrapper {
    max-width: 1000px;
  }
}

@media screen and (min-width: 1200px) {
  nav {
    grid-column-start: 12;
  }
  .jumbotron {
    height: 650px;
    padding: 350px 30px 50px 30px;
  }
  .article-container {
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
    max-width: 1200px;
  }
  .card-article {
    max-width: 500px;
  }
  .section-header {
    grid-column: 1/4;
  }
  .article-footer-item {
    font-size: 14px;
  }
}